# Python
__pycache__/
*.py[cod]
.venv/
venv/

# DCC/cache
*.hiplc
*.hda
*.usdcrc

# Node
node_modules/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build artifacts and logs
dist/
build/
*.log
